html, body{
	margin: 0;
	padding: 0;
}
.inlineBlock{
	display: inline-block;
}
.posRelative{
	position: relative;
}
.formItems{
	margin-bottom: 10px;
}
.displayNone{
	display: none;
}
.cursor{
	cursor: pointer;
}
.mySlider{
	width: 400px;
	height: 250px;
	border: 1px solid gray;
	margin: auto;
}
.blockImgs{
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;
}
.sliderArrowRight,
.sliderArrowLeft {
	position: absolute;
	top:0;
	width: 10%;
}
.sliderArrowRight:hover,
.sliderArrowLeft:hover {
	font-weight: bold;
}
.sliderArrowRight{
	right:0;
}
.sliderArrowLeft{
	left:0;
}
.sliderImg{
	width: 100%;
}
.sliderImg.active{
}